
.chat-header{
    /* height: 50px;
    width: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin: 10px;
    color: white;
}

.chat-body{
    height: 360px;
    /* border: 1px solid rgb(230, 230, 204); */
    /* border-radius: 15px; */
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1.5rem;
    overflow: scroll;
    overflow-x: hidden;
}
.message{
    background: var(--buttonBg);
    background-color: #838485;
    color: white;
    padding: 0.7rem;
    border-radius: 1rem 1rem 1rem 0;
    max-width: 28rem;
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.message>span:nth-child(2){
    font-size: 0.7rem;
    color: var(--textColor);
    align-self: end;
}
.own{
    align-self: flex-end;
    border-radius: 1rem 1rem 0 1rem;
    background: linear-gradient(98.63deg,#24e4f0 0%, #358ff9 100%);
}

.chat-sender{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
}

.message-input{
    border: 1px solid rgb(34, 205, 248);
    height: 30px;
    width: 100%;
    border-radius: 10px;
    padding: 5px;
    margin: 4px;
    outline-style: none;
}

.message-input:hover{
    border: 1px solid rgb(20, 160, 196);
}

.send-btn{
    /* border: 1px solid rgb(0, 0, 0); */
    height: 38px;
    width: 100%;
    padding: 5px;
    margin: 4px;
    outline-style: none;
    border: 1px solid rgb(34, 205, 248);
    border-radius: 10px;
    font-weight: 200;
}

.send-btn:hover{
    border: 1px solid rgb(20, 160, 196);
}