.container{
    margin: 20px;
    height: 100%;
    display: flex;
    grid-gap: 5px; 
}

.conversion{
    background-color: rgb(170, 170, 177);
    /* grid-column: 1/-1; */
    width: 35%;
    height: auto;
    
}

.chatbox{
    background-color: rgb(59, 57, 57);
    width: 65%;
    height: 550px;
    padding: 10px;
}